<?php
/**
 * Configuration Override
 *
 * Use this file for overriding configuration values from all modules using Forms.
 * Place it in your application config/ folder.
 */

return array(
    'view_helpers' => array(
        'invokables' => array(
            'formbutton' => 'ZurbFoundationThree\Form\View\Helper\FormButton',
            'formelementerrors' => 'ZurbFoundationThree\Form\View\Helper\FormElementErrors',
        )
    )
);
